<img src="assets/home.jpg" class="w-screen" alt="Home photo" />

<app-container>
  <h1 class="text-center text-2xl sm:text-3xl">
    Welcome to University of Maryland
  </h1>
  <br />
  <p>
    The University of Maryland (UMD) stands as a beacon of academic excellence and innovation in the heart of College Park, Maryland. Founded in 1856, UMD has evolved into one of the nation's premier public research universities, renowned for its outstanding programs in fields such as engineering, computer science, business, and the social sciences. As a member of the Big Ten Conference, it also boasts a vibrant athletic culture, marked by a spirited community of students, alumni, and staff rallying around their beloved Terrapins. The university's commitment to research and development is reflected in its strong partnerships with government agencies and industry leaders, fostering a dynamic environment where cutting-edge research and entrepreneurial spirit thrive.

    Beyond its academic and research prowess, the University of Maryland is deeply committed to fostering a diverse and inclusive community. It offers a rich tapestry of cultural, educational, and social activities, encouraging students to broaden their perspectives and engage with the world around them. UMD's beautiful and sprawling campus serves as a hub for community engagement and intellectual discourse, hosting a variety of events, conferences, and public lectures throughout the year. With its strategic location near the nation's capital, the university provides unique opportunities for students to engage with some of the top political, scientific, and cultural institutions in the world, further enhancing the richness of the educational experience at Maryland.
    
      </p>
</app-container>
